<div class="AdminContainer">
  <div nz-row [nzGutter]="16" class="ToolsContainer">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
      <a [routerLink]="['AddFileGoogleDrive']">
        <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Add Files - Google Drive" nzDescription="Add Files to your database from google drive"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="https://i.imgur.com/SCm1VCU.png" />
        </ng-template>
      </a>
    </div>
  </div>
</div>
