.addFilesFromGoogleDriveContainer {
  padding: 30px;
  max-width: var(--main-max-width);
  margin: auto;
}

.inputContainers {
  width: 100%;
}

.inputContainers input {
  width: 100%;
}

.filesLinksContainer {
  color: white;
}

.FileNameHeader {
  color: #60aafc;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
  width: max-content;
  cursor: pointer;
}

.FinalFileContainer{
  padding-bottom: 2.5em;
}

.fileChunksCount{
  font-size: 0.7em;
  color: #87a8b8;
  white-space: nowrap;
  padding: 0px 5px;
}

.FileChunksContainer{
  min-height: 30px;
}

.chunkContainer{
  cursor: grab;
  width: max-content;
  padding: 10px 0px;
}

.filesLinksHeader{
  background-color: #203038;
  padding: 10px;
  margin-top: 1em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #354852;
}

.filesLinksBody{
  background-color: #203038;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}