<div class="addFilesFromGoogleDriveContainer">
  <div class="inputContainers">
    <input nz-input placeholder="Enter Folder Id" [(ngModel)]="InputFolderId" />
    <button nz-button nzType="primary" nzBlock style="margin-top: 10px;" (click)="GetFilesFromGoogleDrive()">Get Files</button>
  </div>

  <div class="filesLinksHeader">
    <button nz-button nzType="primary" nzBlock style="margin-top: 10px;" (click)="SaveFiles()">Save Files</button>
  </div>
  <div class="filesLinksBody">
    <div class="filesLinksContainer" cdkDropListGroup>
      <div *ngFor="let finalFile of FinalFiles; let i = index">
        <div class="FinalFileContainer">
          <header class="fileChunksCount">{{finalFile.FileChunks.length}} Chunks</header>
          <header class="FileNameHeader" (click)="ShowEditFileModle(finalFile, i)">{{finalFile.name}}</header>
          <div class="FileChunksContainer" cdkDropList [cdkDropListData]="finalFile.FileChunks" (cdkDropListDropped)="drop($event)" nz-row [nzGutter]="16">
            <div cdkDrag [cdkDragData]="chunk" *ngFor="let chunk of finalFile.FileChunks" class="chunkContainer" nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
              <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
                <nz-card-meta [nzTitle]="chunk.name"></nz-card-meta>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="example" src="https://i.imgur.com/SCm1VCU.png" />
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="EditFileModleVisible" nzTitle="Edit File" (nzOnCancel)="handleEditFileModleCancel()" (nzOnOk)="handleEditFileModleOk()">
  <ng-container *nzModalContent>
    <div>
        <div>Name:</div>
        <input nz-input placeholder="Basic usage" [(ngModel)]="EditFileModelData.name" />
    </div>
    <div>
        <div>Thumbnail Link:</div>
        <input nz-input placeholder="Basic usage" [(ngModel)]="EditFileModelData.thumbnailLink" />
    </div>
    <div>
        <div>Type:</div>
        <input nz-input placeholder="Basic usage" [(ngModel)]="EditFileModelData.type" />
    </div>
  </ng-container>
</nz-modal>
