/API/.vs
/API/BreadCrumb.API/bin
/API/BreadCrumb.API/obj
/API/BreadCrumb.DataAccess/bin
/API/BreadCrumb.DataAccess/obj
/API/BreadCrumb.Manager/bin
/API/BreadCrumb.Manager/obj
/API/BreadCrumb.Model/bin
/API/BreadCrumb.Model/obj
/API/BreadCrumb.Utility/bin
/API/BreadCrumb.Utility/obj
