/BreadcrumbAPI/Breadcrumb.API/bin
/BreadcrumbAPI/Breadcrumb.API/obj
/BreadcrumbAPI/Breadcrumb.DataAccess/bin
/BreadcrumbAPI/Breadcrumb.DataAccess/obj
/BreadcrumbAPI/Breadcrumb.Manager/bin
/BreadcrumbAPI/Breadcrumb.Manager/obj
/BreadcrumbAPI/Breadcrumb.Model/bin
/BreadcrumbAPI/Breadcrumb.Model/obj
/BreadcrumbAPI/Breadcrumb.Utility/bin
/BreadcrumbAPI/Breadcrumb.Utility/obj
/BreadcrumbAPI/Breadcrumb.DataAccess.SQLServer/bin
/BreadcrumbAPI/Breadcrumb.DataAccess.SQLServer/obj
