:root {
  --color-white: #202020;
  --color-light: #f1f5f8;
  --color-black: white;
  --color-night: white;
  --color-purple: white;
  --color-indigo: white;
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --main-max-width: 90rem;
  --MenuHeight: 68px
}


/*------------------------ SCROLLBAR --------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*---------------------------------- --------------------------------------------*/


.alignSelfCenterGlobal{
  align-self: center;
}

.textAlignCenterGlobal{
  text-align: center;
}

.FormGroupCardContent .ant-input-group-addon{
  padding: 0;
}

.MyInputGroup{
  display: flex;
}

.MyInputLabel{
  width: max-content;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 0px 10px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.MyInputTag{
  flex-grow: 2;
}

.MyInputTag input{
  height: 100%;
}