<nav class="navbar">
  <div class="container">
    <section class="wrapper">
      <a href="./index.html" class="brand">Breadcrumb</a>
      <button type="button" class="burger" id="burger" (click)="ToggleMenu()">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>
      <div class="menu" id="menu">
        <ul class="menu-inner">
          <li class="menu-item"><a href="#" class="menu-link">Shows</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Books</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Folders & Files</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Settings</a></li>
        </ul>
      </div>
    </section>
  </div>
</nav>
