<nav class="navbar">
  <div class="container">
    <section class="wrapper">
      <a href="./index.html" class="brand">Breadcrumb</a>
      <button type="button" class="burger" id="burger" (click)="ToggleMenu()">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>
      <div class="menu" id="menu">
        <ul class="menu-inner">
          <li class="menu-item" *ngFor="let link of links"><a [routerLink]="link.routerLink" class="menu-link">{{link.text}}</a></li>
        </ul>
      </div>
    </section>
  </div>
</nav>
