<div class="masterDetailContainer">
  <section class="masterDetailContent">
    <div class="cardsContainerUpper">
      <div class="cardsContainer">
        <div class="CardContainer selected">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer selected">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer selected">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
        <div class="CardContainer">
          <div class="CardInnerContainer">
            <div>1080p</div>
            <div>English</div>
            <div>1080p</div>
            <div>English</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tablesContainer">
      <section class="CurrentAllocations">

      </section>
    </div>
  </section>
</div>
