<div class="SettingsContainer">
  <div class="FormGroupCard">
    <div class="FormGroupCardHeader">
      Servers
    </div>
    <div class="FormGroupCardContent">
      <div *ngFor="let server of tokenData.servers; let i = index" nz-row class="serverGroupContainer">
        <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
          <nz-select class="serverGroupSelect" [(ngModel)]="server.databaseType">
            <nz-option nzValue="SQLServer" nzLabel="SQLServer"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzXs="24" nzSm="18" nzMd="14" nzLg="14" nzXl="14">
          <input nz-input placeholder="Connection String" [(ngModel)]="server.connectionString" />
        </div>
        <div nz-col nzXs="12" nzSm="3" nzMd="2" nzLg="2" nzXl="2" class="alignSelfCenterGlobal textAlignCenterGlobal">
          <nz-switch [(ngModel)]="server.isSelected" (ngModelChange)="SwitchServerChanged(i)"></nz-switch>
        </div>
        <div nz-col nzXs="12" nzSm="3" nzMd="2" nzLg="2" nzXl="2" class="alignSelfCenterGlobal textAlignCenterGlobal">
          <button nz-button nzType="primary" nzDanger (click)="DeleteServer(i)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
        </div>
      </div>

      <div style="padding: 0px 5px; width: calc(100%);">
        <button nz-button nzType="primary" nzBlock (click)="addNewServer()"><span nz-icon nzType="plus-circle" nzTheme="outline"></span>Add New Server</button>
      </div>
    </div>
  </div>

  <div class="FormGroupCard">
    <div class="FormGroupCardHeader">
      GOOGLE APIs
    </div>
    <div class="FormGroupCardContent">
      <div *ngFor="let googleAPI of tokenData.googleAPIs; let i = index" nz-row class="serverGroupContainer">
        <div nz-col nzXs="24" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
          <input nz-input placeholder="Api Key" [(ngModel)]="googleAPI.apiKey" />
        </div>
        <div nz-col nzXs="12" nzSm="2" nzMd="2" nzLg="2" nzXl="2" class="alignSelfCenterGlobal textAlignCenterGlobal">
          <nz-switch [(ngModel)]="googleAPI.isPrimary" (ngModelChange)="SwitchGoogleAPIChanged(i)"></nz-switch>
        </div>
        <div nz-col nzXs="12" nzSm="2" nzMd="2" nzLg="2" nzXl="2" class="alignSelfCenterGlobal textAlignCenterGlobal">
          <button nz-button nzType="primary" nzDanger (click)="DeleteGoogleApi(i)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
        </div>
      </div>

      <div style="padding: 0px 5px; width: calc(100%);">
        <button nz-button nzType="primary" nzBlock (click)="addNewGoogleAPi()"><span nz-icon nzType="plus-circle" nzTheme="outline"></span>Add New Google API</button>
      </div>
    </div>
  </div>

  <div class="FormGroupCard">
    <div class="FormGroupCardHeader">
      Others
    </div>
    <div class="FormGroupCardContent">
      <table class="OthersTableInputs">
        <tbody>
          <tr>
            <td><span>The Movie DB API Key</span></td>
            <td><input type="text" nz-input [(ngModel)]="tokenData.theMovieDBAPIKey" /></td>
          </tr>
          <tr>
            <td><span>Show NSFW Covers</span></td>
            <td><nz-switch [(ngModel)]="tokenData.showNSFWCovers"></nz-switch></td>
          </tr>
          <tr>
            <td><span>Show Only Custom Covers</span></td>
            <td><nz-switch [(ngModel)]="tokenData.showOnlyCustomCovers"></nz-switch></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button nz-button nzType="primary" nzBlock (click)="SaveToken()" style="margin: 10px 0px 50px 0px;"><span nz-icon nzType="save"
      nzTheme="outline"></span>Save</button>


  <div class="FormGroupCard">
    <div class="FormGroupCardHeader">
      Your Token
    </div>
    <div class="FormGroupCardContent">
      <div style="padding: 5px;">
        <nz-input-group>
          <input type="text" nz-input [(ngModel)]="tokenValue" />
        </nz-input-group>
      </div>
      <div nz-row>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12" style="padding: 5px;">
          <button nz-button nzType="primary" class="AfterTemplateButtonToken" nzBlock (click)="CopyToken()"><span nz-icon nzType="copy" nzTheme="outline"></span> Copy</button>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12" style="padding: 5px;">
          <button nz-button nzType="primary" class="AfterTemplateButtonToken" nzBlock (click)="TokenFromStringSave()"><span nz-icon nzType="save" nzTheme="outline"></span> Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
