<div class="SettingsContainer">
  <div class="FormGroupCard">
    <div class="FormGroupCardHeader">
      Servers
    </div>
    <div class="FormGroupCardContent">
      <div *ngFor="let server of tokenData.servers; let i = index" nz-row class="serverGroupContainer">
        <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
          <nz-select class="serverGroupSelect" [(ngModel)]="server.databaseType">
            <nz-option nzValue="SQLServer" nzLabel="SQLServer"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzXs="20" nzSm="20" nzMd="16" nzLg="16" nzXl="16">
          <input nz-input placeholder="Connection String" [(ngModel)]="server.connectionString" />
        </div>
        <div nz-col nzXs="4" nzSm="4" nzMd="2" nzLg="2" nzXl="2" class="alignSelfCenterGlobal textAlignCenterGlobal">
          <nz-switch [(ngModel)]="server.isSelected" (ngModelChange)="SwitchChanged(i)"></nz-switch>
        </div>
      </div>

      <div style="padding: 0px 5px; width: calc(100%);">
        <button nz-button nzType="primary" nzBlock (click)="addNewServer()"><span nz-icon nzType="plus-circle" nzTheme="outline"></span>Add New Server</button>
      </div>
    </div>
  </div>

  <div class="FormGroupCard">
    <div class="FormGroupCardHeader">
      Others
    </div>
    <div class="FormGroupCardContent">
        <nz-input-group nzAddOnBefore="The Movie DB API Key">
            <input type="text" nz-input [(ngModel)]="tokenData.theMovieDBAPIKey" />
        </nz-input-group>
    </div>
  </div>

  <button nz-button nzType="primary" nzBlock (click)="SaveToken()" style="margin-top: 10px;"><span nz-icon nzType="save" nzTheme="outline"></span>Save</button>
</div>
