.AssignFilesShowSeasonsContainer {
  max-width: var(--main-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.inputContainer .labelContainer {
  color: white;
  font-weight: bold;
}

.inputContainer .inputContainer nz-select {
  width: 100%;
}

.EpisodesAndFilesContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.EpisodesAndFilesContainer .EpisodesContainer .EpisodeHeader{
  color: #60aafc;
  font-size: 1.3em;
  font-weight: bold;
  width: max-content;
}

.EpisodesAndFilesContainer .EpisodesContainer{
  width: 50%;
  overflow: auto;
  height: 70vh;
  padding: 10px;
}

.EpisodesAndFilesContainer .FilesContainer{
  width: 50%;
  overflow: auto;
  height: 70vh;
  padding: 10px;
}

.FileChunksContainer{
  min-height: 30px;
}

.chunkContainer{
  cursor: grab;
  width: max-content;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}

.EpisodesAndFilesHeader{
  background-color: #203038;
  padding: 10px;
  margin-top: 1em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #354852;
}

.EpisodesAndFilesBody{
  background-color: #203038;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.DeleteFile{
  color: #87a8b8;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
}

.EpisodesAndFilesBody h2{
  color: white;
}