<div class="AssignFilesShowSeasonsContainer">
  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6">
      <section class="inputContainer">
        <div class="labelContainer">
          Select TvShow
        </div>
        <div class="inputContainer">
          <nz-select nzShowSearch nzPlaceHolder="Select TvShow" [(ngModel)]="SelectedTvShowId"
            (ngModelChange)="TvShowChanged()">
            <nz-option *ngFor="let TvShow of TvShowsData" nzLabel="{{TvShow.primaryName}} [{{TvShow.otherNames}}]"
              [nzValue]="TvShow.showId"></nz-option>
          </nz-select>
        </div>
      </section>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6">
      <section class="inputContainer">
        <div class="labelContainer">
          Select Season
        </div>
        <div class="inputContainer">
          <nz-select nzShowSearch nzPlaceHolder="Select Season" [(ngModel)]="SelectedSeasonId"
            (ngModelChange)="SeasonChanged()">
            <nz-option *ngFor="let Season of SeasonsData" nzLabel="{{Season.number}} - {{Season.name}}"
              [nzValue]="Season.id"></nz-option>
          </nz-select>
        </div>
      </section>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6">
      <section class="inputContainer">
        <div class="labelContainer">
          Show Only Unassigned Files
        </div>
        <div class="inputContainer">
          <nz-switch [(ngModel)]="ShowOnlyUnAssignedFiles" (ngModelChange)="UpdateFiles()"></nz-switch>
        </div>
      </section>
    </div>
  </div>
  <div class="EpisodesAndFilesHeader">
    <button nz-button nzType="primary" nzBlock style="margin-top: 10px;" (click)="OpenModalEditFileForEpisode(null,null)">Edit All Files</button>
    <button nz-button nzType="primary" nzBlock style="margin-top: 10px;">Save</button>
  </div>
  <div class="EpisodesAndFilesBody">
    <div class="EpisodesAndFilesContainer" cdkDropListGroup>
      <div class="EpisodesContainer">
        <h2>Episodes</h2>
        <div *ngFor="let Episode of EpsiodesDataWithFiles; let EpisodeIndex = index">
          <h3 class="EpisodeHeader">{{Episode.number}} - {{Episode.name}}</h3>
          <div style="margin-bottom: 20px;" class="FileChunksContainer" cdkDropList [cdkDropListData]="Episode.files" (cdkDropListDropped)="drop($event)">
            <div cdkDrag [cdkDragData]="file" *ngFor="let file of Episode.files; let FileIndex = index"
              class="chunkContainer">
              <div class="svgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" viewBox="0 0 50 50"
                  fill="white">
                  <path
                    d="M 15 3 C 11.691406 3 9 5.691406 9 9 C 9 12.308594 11.691406 15 15 15 C 18.308594 15 21 12.308594 21 9 C 21 5.691406 18.308594 3 15 3 Z M 35 3 C 31.691406 3 29 5.691406 29 9 C 29 12.308594 31.691406 15 35 15 C 38.308594 15 41 12.308594 41 9 C 41 5.691406 38.308594 3 35 3 Z M 15 19 C 11.691406 19 9 21.691406 9 25 C 9 28.308594 11.691406 31 15 31 C 18.308594 31 21 28.308594 21 25 C 21 21.691406 18.308594 19 15 19 Z M 35 19 C 31.691406 19 29 21.691406 29 25 C 29 28.308594 31.691406 31 35 31 C 38.308594 31 41 28.308594 41 25 C 41 21.691406 38.308594 19 35 19 Z M 15 35 C 11.691406 35 9 37.691406 9 41 C 9 44.308594 11.691406 47 15 47 C 18.308594 47 21 44.308594 21 41 C 21 37.691406 18.308594 35 15 35 Z M 35 35 C 31.691406 35 29 37.691406 29 41 C 29 44.308594 31.691406 47 35 47 C 38.308594 47 41 44.308594 41 41 C 41 37.691406 38.308594 35 35 35 Z">
                  </path>
                </svg>
              </div>
              <div style="padding-left: 5px; color: white;">
                {{file.name}} <span class="DeleteFile" (click)="DeleteFileFromEpisode(FileIndex,EpisodeIndex)">Delete</span><span class="DeleteFile" (click)="OpenModalEditFileForEpisode(FileIndex,EpisodeIndex)">Edit</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="FilesContainer">
        <h2>Files</h2>
        <div class="FileChunksContainer" cdkDropList [cdkDropListData]="FilesWithShowToInsert" (cdkDropListDropped)="drop($event)">
        <div cdkDrag [cdkDragData]="file" *ngFor="let file of FilesWithShowToInsert"
          class="chunkContainer">
          <div class="svgContainer">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" viewBox="0 0 50 50"
              fill="white">
              <path
                d="M 15 3 C 11.691406 3 9 5.691406 9 9 C 9 12.308594 11.691406 15 15 15 C 18.308594 15 21 12.308594 21 9 C 21 5.691406 18.308594 3 15 3 Z M 35 3 C 31.691406 3 29 5.691406 29 9 C 29 12.308594 31.691406 15 35 15 C 38.308594 15 41 12.308594 41 9 C 41 5.691406 38.308594 3 35 3 Z M 15 19 C 11.691406 19 9 21.691406 9 25 C 9 28.308594 11.691406 31 15 31 C 18.308594 31 21 28.308594 21 25 C 21 21.691406 18.308594 19 15 19 Z M 35 19 C 31.691406 19 29 21.691406 29 25 C 29 28.308594 31.691406 31 35 31 C 38.308594 31 41 28.308594 41 25 C 41 21.691406 38.308594 19 35 19 Z M 15 35 C 11.691406 35 9 37.691406 9 41 C 9 44.308594 11.691406 47 15 47 C 18.308594 47 21 44.308594 21 41 C 21 37.691406 18.308594 35 15 35 Z M 35 35 C 31.691406 35 29 37.691406 29 41 C 29 44.308594 31.691406 47 35 47 C 38.308594 47 41 44.308594 41 41 C 41 37.691406 38.308594 35 35 35 Z">
              </path>
            </svg>
          </div>
          <div style="padding-left: 5px; color: white;">
            {{file.name}}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="EditFileForEpisodeModleVisible" nzTitle="Edit File For Episode" (nzOnCancel)="handleEditFileForEpisodeModalCancel()" (nzOnOk)="handleEditFileForEpisodeModalOk()">
  <ng-container *nzModalContent>
    <div>
      <div>Quality:</div>
      <input nz-input placeholder="Basic usage" [(ngModel)]="EditFileForEpisodeData.Quality" />
    </div>
    <div>
      <div>AudioLanguages:</div>
      <input nz-input placeholder="Basic usage" [(ngModel)]="EditFileForEpisodeData.AudioLanguages" />
    </div>
    <div>
      <div>SubtitleLanguages:</div>
      <input nz-input placeholder="Basic usage" [(ngModel)]="EditFileForEpisodeData.SubtitleLanguages" />
    </div>
  </ng-container>
</nz-modal>
