.routerContainer {
  background-color: #383838;
  min-height: calc(100vh - 500px);
}

.headerContainer {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.routerContainer{
  margin-top: var(--MenuHeight);
}